<launch>
  <arg name="robot_namespace" default="base1"/>
  <!-- <arg name="simulation" default="false"/> -->

  <group ns="$(arg robot_namespace)/localization_analysis">
    <node pkg="localizer_localization_uncertainty_analysis"
          type="localization_analysis_node.py"
          name="localization_uncertainty_analysis"
          respawn="true"
          output="screen">
      <remap from="~pose_graph" to="/$(arg robot_namespace)/lamp/pose_graph" />
      <remap from="~pose_graph_to_optimize" to="lamp_pgo/pose_graph_to_optimize" />
      <remap from="~optimized_values" to="lamp_pgo/optimized_values" />
      <!-- <rosparam file="$(find localization_uncertainty_analysis/config/precision_parameters.yaml" /> -->
    </node>

    <node pkg="lamp_pgo"
          name="lamp_pgo"
          type="lamp_pgo_node"
          output="screen">
      <!-- <remap from="~pose_graph_to_optimize" to="pg_sim/pose_graph_to_optimize" /> -->
      <rosparam file="$(find lamp_pgo)/config/pgo_parameters.yaml" subst_value="true"/>
    </node>


  </group>

</launch>
