<launch>
  <arg name="robot_namespace" default="robot"/>

    <!-- optional filename of the zip archive of a pose graph to be loaded -->
  <arg name="load_pose_graph_file" default=""/>

  <group ns="$(arg robot_namespace)">

    <!-- Pose graph visualization -->
    <node pkg="pose_graph_visualizer"
          name="pose_graph_visualizer"
          type="pose_graph_visualizer_node"
          output="screen">
      <!-- Frames -->
      <rosparam file="$(find blam_example)/config/blam_frames.yaml" subst_value="true"/>

      <!-- Loop closure -->
      <rosparam file="$(find laser_loop_closure)/config/parameters.yaml"/>
    </node>

    <node pkg="blam_slam"
      name="loop_closure_tools"
      type="loop_closure_tools.py"
      output="screen">
    </node>

    <!-- define difference in speed (odom vs blam) at which we notify slip -->
    <arg name="slip_threshold" value="0.1" />
    <node pkg="blam_slam"
      name="performance_evaluation"
      type="performance_eval.py"
      output="screen"
      args="$(arg slip_threshold)">
      <!-- remap topics -->
      <remap from="/blam_output" to="blam_slam_fe/localization_integrated_estimate" />
      <remap from="/odometry" to="hero/wio_ekf/odom" />
    </node>

  </group>

</launch>
