<launch>
    <arg name="robot_namespace" default="husky4"/>
    <arg name="base_namespace" default="base1"/>
    <group ns="$(arg base_namespace)">

        <node pkg="loop_closure"
            type="rssi_loop_closure_node"
            name="rssi_loop_closure"
            output="screen">
<!--            launch-prefix="gdb -ex run args">-->

<!--            <remap from="~uwb_signal_lamp" to="uwb_signal/lamp"/>
            <remap from="~uwb_signal_inter_vehicle" to="uwb_signal/inter_vehicle"/>
            <remap from="~pose_graph" to="lamp/pose_graph"/>

              <remap from="~potential_loop_closures" to="/$(arg robot_namespace)/lamp/seed_loop_closure"/>-->
            <!--remap from="~uwb_aggregated_drop_status" to="/$(arg base_namespace)/comm_node_manager/status_agg"/-->
              <remap from="~rssi_aggregated_drop_status" to="/$(arg base_namespace)/comm_node_manager/status_agg"/>
            <remap from="~silvus_raw" to="/$(arg base_namespace)/comm/silvus/raw"/>
            <remap from="~pose_graph" to="/$(arg base_namespace)/lamp/pose_graph"/>
            <remap from="~loop_candidates" to="lamp/loop_generation/loop_candidates" />
            <rosparam file="$(find loop_closure)/config/rssi_parameters.yaml" subst_value="true"/>
        </node>

    </group>

</launch>
