<launch>
  <arg name="robot_namespace" default="base1"/>
  <arg name="input_path" />
  <arg name="map_resolution" default="0.5" />
  <arg name="marker_size" default="0.3" />
  <arg name="output_dir" default="$(find lamp_pgo)/log"/>
  <arg name="visualize" default="true"/>

  <group ns="$(arg robot_namespace)">

    <!-- Pose graph optimizer -->
    <node pkg="lamp_pgo"
          name="lamp_g2o"
          type="lamp_g2o"
          output="screen">
      <rosparam file="$(find lamp_pgo)/config/pgo_parameters.yaml" subst_value="true"/>
      <param name="g2o_file" value= "$(arg input_path)/result.g2o"/>
      <param name="keyed_scans_bag" value="$(arg input_path)/keyed_scans.bag"/>
      <param name="map_resolution" value="$(arg map_resolution)"/>
      <param name="marker_size" value="$(arg marker_size)"/>
      <param name="output_dir" value="$(arg output_dir)"/>
      <param name="visualize" value="$(arg visualize)"/>
    </node>
  </group>

  <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find lamp_pgo)/rviz/lamp_g2o.rviz"/>

</launch>
