<launch>
  <arg name="robot_namespace" default="husky"/>

  <!-- Velodyne topic throttle params -->
  <arg name="vlp_throttle_freq" default="5.0"/><!-- Hz -->

  <!-- Map processing params -->
  <arg name="process_map" default="true"/>
  <arg name="map_update_freq" default="1.0"/><!-- Hz -->
  <arg name="map_topic_input" default="lamp/octree_map"/>
  <arg name="map_topic_output" default="lamp/octree_map_downsampled"/>

  <!-- optional filename of the zip archive of a pose graph to be loaded -->
  <arg name="load_pose_graph_file" default="" /> 

  <group ns="$(arg robot_namespace)">


    <!-- SLAM -->
    <node pkg="lamp"
          name="lamp"
          type="lamp_node"
          output="screen">

      <!-- Load graph -->
      <param name="load_graph" value="$(arg load_pose_graph_file)"/>

      <!-- Topics -->
      <remap from="~pcld" to="velodyne_points"/>
      <remap from="~lio_odom" to="lo_frontend/odometry"/>
      <remap from="~optimizer_pg" to="lamp_pgo/optimized_values"/>

      <remap from="~artifact" to="~artifact_global" />
      <remap from="~artifact_relative" to="/reconciled_artifact" />

      <!-- LAMP settings -->
      <rosparam file="$(find lamp)/config/lamp_settings.yaml" subst_value="true"/>
      <rosparam file="$(find lamp)/config/lamp_init_noise.yaml" subst_value="true"/>
      <rosparam file="$(find lamp)/config/precision_parameters.yaml" subst_value="true"/>

      <!-- Factor handlers settings -->
      <rosparam file="$(find factor_handlers)/config/odom_parameters.yaml" subst_value="true"/>

      <!-- Rates -->
      <rosparam file="$(find lamp)/config/lamp_rates.yaml"/>

      <!-- Frames -->
      <rosparam file="$(find lamp)/config/lamp_frames.yaml" subst_value="true"/>

      <!-- Point cloud filter -->
      <rosparam file="$(find point_cloud_filter)/config/parameters.yaml"/>

      <!-- Point cloud mapper -->
      <rosparam file="$(find point_cloud_mapper)/config/parameters.yaml"/>

      <!-- Point cloud visualization -->
      <!-- TODO - check if we use this -->
      <rosparam file="$(find point_cloud_visualizer)/config/parameters.yaml"/>

      <!-- The robot prefix dependent of robot_namespace -->
      <param name="robot_prefix" value="a" if="$(eval robot_namespace == 'husky1')" />
      <param name="robot_prefix" value="b" if="$(eval robot_namespace == 'husky2')"/>
      <param name="robot_prefix" value="c" if="$(eval robot_namespace == 'husky3')"/>
      <param name="robot_prefix" value="f" if="$(eval robot_namespace == 'husky4')"/>
      <param name="robot_prefix" value="d" if="$(eval robot_namespace == 'telemax1')"/>
      <param name="robot_prefix" value="e" if="$(eval robot_namespace == 'husky')"/>

    </node>

    <!-- Pose graph optimizer -->
    <node pkg="lamp_pgo"
          name="lamp_pgo"
          type="lamp_pgo_node"
          output="screen">
      <remap from="~input_posegraph" to="lamp/pose_graph_to_optimize" />
      <!-- Config - TODO move the proximity_threshold param elsewhere -->
      <rosparam file="$(find lamp_pgo)/config/pgo_parameters.yaml" subst_value="true"/>      
    </node>

    <!-- Laser Loop Closure -->
    <node pkg="loop_closure"
          name="laser_loop_closure"
          type="laser_loop_closure_node"
          output="screen">
      <remap from="~laser_loop_closures" to="lamp/laser_loop_closures" />
      <remap from="~pose_graph_incremental" to="lamp/pose_graph_incremental" />
      <remap from="~keyed_scans" to="lamp/keyed_scans" />
      <!-- Config - TODO move the proximity_threshold param elsewhere -->
      <rosparam file="$(find loop_closure)/config/laser_parameters.yaml" subst_value="true"/>      
    </node>

    <!-- Pose graph visualization -->
    <node pkg="pose_graph_visualizer"
          name="pose_graph_visualizer"
          type="pose_graph_visualizer_node"
          output="screen">
      <!-- Frames -->
      <rosparam file="$(find lamp)/config/lamp_frames.yaml" subst_value="true"/>      
      <!-- Config - TODO move the proximity_threshold param elsewhere -->
      <rosparam file="$(find pose_graph_visualizer)/config/visualizer_parameters.yaml" subst_value="true"/>      
    </node>

    <!-- Throttling input cloud -->
    <node name="point_cloud_throttler" type="throttle" pkg="topic_tools" args="messages velodyne_points $(arg vlp_throttle_freq)">
    </node>

    <!-- Convert output PoseStamped message to Odometry -->
    <node pkg="topic_tools" type="transform" name="pose_to_odom"
          respawn="true" output="screen"
          args="/$(arg robot_namespace)/lo_frontend/localization_integrated_estimate
                /$(arg robot_namespace)/lo_frontend/odometry
                nav_msgs/Odometry
                'nav_msgs.msg.Odometry(header=m.header, pose=geometry_msgs.msg.PoseWithCovariance(pose=m.pose))' --import nav_msgs geometry_msgs">
    </node>


    <node pkg="tf" 
        type="static_transform_publisher"
        name="map2world"
        args="0 0 0 0 0 0 world $(arg robot_namespace)/map 100" />

    <node pkg="tf" 
        type="static_transform_publisher"
        name="base2velo"
        args="0 0 0 0 0 0 $(arg robot_namespace)/base_link $(arg robot_namespace)/velodyne 100" />

  </group>

  <!-- launch rviz  -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find blam_example)/rviz/lidar_slam.rviz" /> -->

</launch>
