<launch>
  <arg name="robot_namespace" default="robot"/>
  <arg name="base_namespace" default="base1"/>

  <group ns="$(arg robot_namespace)">
    <node name="two_pose_graph_merge" pkg="pose_graph_merger" type="two_pose_graph_merge_node" output="screen" respawn="false">
      <remap from="~base_graph" to="/$(arg base_namespace)/lamp/pose_graph" /> 
      <remap from="~robot_graph" to="lamp/pose_graph" /> 
      <remap from="~merged_pose_graph" to="merged_pose_graph" /> 
    </node>
  </group>

</launch>