<launch>
  <arg name="robot_namespace" default="robot"/>
  <arg name="base_namespace" default="base1"/>

  <group ns="$(arg robot_namespace)">
    <node name="two_pose_graph_merge" pkg="pose_graph_merger" type="two_pose_graph_merge_node" output="screen" respawn="false">
      <remap from="~base_graph" to="/$(arg base_namespace)/lamp/pose_graph" />
      <remap from="~robot_graph" to="lamp/pose_graph" />
      <remap from="~merged_pose_graph" to="lamp/pose_graph_merged" />
      <remap from="~robot_pose" to="lamp/lamp_pose" />
      <remap from="~robot_last_node_pose" to="lamp/pose_graph/last_node_pose" />
      <remap from="~merged_last_node_pose" to="lamp/pose_graph_merged/last_node_pose" />
      <remap from="~merged_pose" to="lamp/pose_merged"/>
      <rosparam file="$(find pose_graph_merger)/config/world_frames_merger.yaml" subst_value="true"/>
    </node>
  </group>

</launch>